.profileContainer {
  height: 35%;

  background: var(--ion-color-light) !important;
}

.avatarBackgroundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  position: relative;
}

.toolbar {
  background: var(--ion-color-light) !important;
  border: none !important;
  --border-color: transparent !important;
  box-shadow: none !important;
  position: absolute !important;
}

.avatar {
  width: 25vh;
  height: 25vh;
  aspect-ratio: 1 / 1;

  position: absolute;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.avatarBackground {
  background: var(--ion-color-light) !important;
  position: absolute;
  width: 100%;
  height: 100%;
}

.avatarBackground img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.profileContentForm {
  padding: 0 1rem;
  height: 40vh;

  display: flex;
  align-items: center;
}
